<a href="https://colab.research.google.com/github/akshathamadhu/My-contribution/blob/master/Day_1_Session_1_Examples_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Program to Add Two Numbers getting through key board

In [1]:


# sum of two nos
num1 = int(input("Enter first no"))
num2 = int(input("Enter second no"))

# Adding the two numbers
sum = num1 + num2

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first no2
Enter second no7
The sum of 2 and 7 is 9

Python program to check if the input year is a leap year or not

In [3]:

# To get year (integer input) from the user
year = int(input("Enter a year: "))

if ((year % 4) == 0 and (year % 100)  != 0) or ((year % 400) == 0):
           print("{0} is a leap year".format(year))
else:
           print("{0} is not a leap year".format(year))

Enter a year: 1999
1999 is not a leap year

In [4]:
          # To get year (integer input) from the user
year = int(input("Enter a year: "))

if ((year % 4) == 0 and (year % 100)  != 0) or ((year % 400) == 0):
           print("{0} is a leap year".format(year))
else:
           print("{0} is not a leap year".format(year))

Enter a year: 2000
2000 is a leap year

Python Program to Generate a Random Number

In [5]:



# Program to generate a random number between 0 and 9
# import the random module
import random
print(random.randint(0,9))

8

Python Program to Convert Kilometers to Miles

In [6]:

# To take kilometers from the user, uncomment the code below
kilometers = int(input("Enter value in kilometers"))

# conversion factor
conv_fac = 0.621371

# calculate miles
miles = kilometers * conv_fac
print('%0.3f kilometers is equal to %0.3f miles' %(kilometers,miles))

Enter value in kilometers300
300.000 kilometers is equal to 186.411 miles

Python Program to Solve Quadratic Equation

In [7]:

# Solve the quadratic equation ax**2 + bx + c = 0
# importing  complex math module
import cmath

 # To take coefficient input from the users
a = float(input('Enter a: '))
b = float(input('Enter b: '))
c = float(input('Enter c: '))

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

Enter a: 3
Enter b: 7
Enter c: 8
The solution are (-1.1666666666666667-1.1426091000668406j) and (-1.1666666666666667+1.1426091000668406j)

Python Program to find prime or not using function

In [8]:


def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True
no=int(input("Enter the number"))
if (test_prime(no)) is True :
    print(" {0} is a prime no".format(no))
else:
     print(" {0} is not a prime no".format(no))

Enter the number6
 6 is not a prime no

In [9]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True
no=int(input("Enter the number"))
if (test_prime(no)) is True :
    print(" {0} is a prime no".format(no))
else:
     print(" {0} is not a prime no".format(no))

Enter the number3
 3 is a prime no